In [1]:
import pandas as pd
import numpy as np

In [2]:
iowa = pd.read_csv("/Users/mdbarshay/Desktop/401/Project 1/iowa-sample.csv")

In [3]:
iowacounties = pd.read_csv("/Users/mdbarshay/Desktop/401/Project 1/County_Population_in_Iowa_by_Year.csv")

In [4]:
iowacounties["County"] = iowacounties["County"].map(lambda x: x.split()[0])

In [7]:
iowa.columns

Index(['Invoice/Item Number', 'Date', 'Store Number', 'Store Name', 'Address',
       'City', 'Zip Code', 'Store Location', 'County Number', 'County',
       'Category', 'Category Name', 'Vendor Number', 'Vendor Name',
       'Item Number', 'Item Description', 'Pack', 'Bottle Volume (ml)',
       'State Bottle Cost', 'State Bottle Retail', 'Bottles Sold',
       'Sale (Dollars)', 'Volume Sold (Liters)', 'Volume Sold (Gallons)'],
      dtype='object')

In [5]:
iowa

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,S08096000008,10/04/2012,4641,Kum & Go #573 / SE 14th DM,5830 SE 14th ST,DES MOINES,50315,NaN,77,Polk,...,89191,Jose Cuervo Especial Reposado Tequila Mini,12,500,11.50,17.25,1,17.25,0.50,0.13
1,S23102300041,12/20/2014,4346,Roy's Foodland,105 PEARL ST,SHELLSBURG,52332,POINT (-91.869285 42.094155),6,Benton,...,11774,Black Velvet,24,375,3.07,4.61,6,27.66,2.25,0.59
2,S14410500035,09/09/2013,3628,Wal-Mart 1528 / Cedar Rapids,2645 BLAIRS FERRY RD NE,CEDAR RAPIDS,52402,POINT (-91.680734 42.034748),57,Linn,...,43410,Captain Morgan Parrot Bay Coconut,12,750,7.49,11.23,12,134.76,9.00,2.38
3,S09427600021,12/12/2012,4708,No Frills Supermarkets #803 / Glenwo,423 SHARP ST,GLENWOOD,51534,POINT (-95.742987 41.04635),65,Mills,...,24458,Kessler Blend Whiskey,6,1750,11.01,16.52,30,495.60,52.50,13.87
4,S28446900114,10/14/2015,2594,Hy-Vee Food Store / Sioux City,4500 SERGEANT ROAD,SIOUX CITY,51106,POINT (-96.346969 42.447396),97,Woodbury,...,10550,Black Velvet Toasted Caramel,12,750,6.75,10.13,12,121.56,9.00,2.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,S15723900021,11/14/2013,3997,Wal-Mart 4606 / Osceola,2400 COLLEGE DR,OSCEOLA,50213,POINT (-93.800214 41.024891000000004),20,Clarke,...,27102,Templeton Rye,6,750,18.09,27.14,6,162.84,4.50,1.19
996,S05143400018,04/19/2012,4483,Sauce,108 E COLLEGE,IOWA CITY,52240,POINT (-91.533522 41.658979),52,Johnson,...,69667,Dr. Mcgillicuddy's Vanilla,12,1000,11.00,16.50,12,198.00,12.00,3.17
997,S28018800016,09/21/2015,3926,Liquor Downtown / Iowa City,315 S GILBERT ST,IOWA CITY,52240,POINT (-91.530181 41.657654),52,Johnson,...,27544,Red Stag By Jim Beam,12,750,10.49,15.74,12,188.88,9.00,2.38
998,S25060300052,04/14/2015,2353,Cresco Liquor Store,708 2ND AVE SE,CRESCO,52136,POINT (-92.106529 43.371131),45,Howard,...,79336,Paramount Creme De Menthe/green,12,750,4.75,7.13,2,14.26,1.50,0.40
999,S08928800075,11/13/2012,2448,Bottle Boutique,705 E. SECOND,INDIANOLA,50125,POINT (-93.55261600000001 41.358176),91,Warren,...,65257,Jagermeister Liqueur,12,1000,15.53,23.30,2,46.60,2.00,0.53

In [6]:
iowacounties

,FIPS,County,Year,Population,Primary Point
0,19169,Story,July 01 2011,91125,POINT (-93.4650448 42.0362415)
1,19061,Dubuque,July 01 2005,90926,POINT (-90.8824564 42.468832)
2,19085,Harrison,April 01 2000,15666,POINT (-95.8169209 41.6828528)
3,19007,Appanoose,July 01 1996,13723,POINT (-92.8686104 40.7431635)
4,19043,Clayton,July 01 2012,17946,POINT (-91.3414328 42.8447493)
...,...,...,...,...,...
2866,19097,Jackson,July 01 1996,20196,POINT (-90.5742294 42.1717426)
2867,19135,Monroe,April 01 2000,8016,POINT (-92.8689877 41.0297826)
2868,19179,Wapello,July 01 1991,35733,POINT (-92.4094499 41.0305845)
2869,19093,Ida,July 01 1996,8206,POINT (-95.5134962 42.3868747)
2870,19197,Wright,July 01 2017,12749,POINT (-93.7351465 42.7331189)

In [10]:
pd.merge(iowa, iowacounties, on = "County", how = "left")

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),FIPS,Year,Population,Primary Point
0,S08096000008,10/04/2012,4641,Kum & Go #573 / SE 14th DM,5830 SE 14th ST,DES MOINES,50315,NaN,77,Polk,...,11.50,17.25,1,17.25,0.5,0.13,19153.0,July 01 2014,460977.0,POINT (-93.5735335 41.6855048)
1,S08096000008,10/04/2012,4641,Kum & Go #573 / SE 14th DM,5830 SE 14th ST,DES MOINES,50315,NaN,77,Polk,...,11.50,17.25,1,17.25,0.5,0.13,19153.0,April 01 1990,327140.0,POINT (-93.5735335 41.6855048)
2,S08096000008,10/04/2012,4641,Kum & Go #573 / SE 14th DM,5830 SE 14th ST,DES MOINES,50315,NaN,77,Polk,...,11.50,17.25,1,17.25,0.5,0.13,19153.0,July 01 2002,385838.0,POINT (-93.5735335 41.6855048)
3,S08096000008,10/04/2012,4641,Kum & Go #573 / SE 14th DM,5830 SE 14th ST,DES MOINES,50315,NaN,77,Polk,...,11.50,17.25,1,17.25,0.5,0.13,19153.0,July 01 2007,416276.0,POINT (-93.5735335 41.6855048)
4,S08096000008,10/04/2012,4641,Kum & Go #573 / SE 14th DM,5830 SE 14th ST,DES MOINES,50315,NaN,77,Polk,...,11.50,17.25,1,17.25,0.5,0.13,19153.0,July 01 1995,349349.0,POINT (-93.5735335 41.6855048)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26335,S08928800075,11/13/2012,2448,Bottle Boutique,705 E. SECOND,INDIANOLA,50125,POINT (-93.55261600000001 41.358176),91,Warren,...,15.53,23.30,2,46.60,2.0,0.53,19181.0,July 01 2003,41943.0,POINT (-93.5613594 41.3343735)
26336,S08928800075,11/13/2012,2448,Bottle Boutique,705 E. SECOND,INDIANOLA,50125,POINT (-93.55261600000001 41.358176),91,Warren,...,15.53,23.30,2,46.60,2.0,0.53,19181.0,July 01 1993,37150.0,POINT (-93.5613594 41.3343735)
26337,S08928800075,11/13/2012,2448,Bottle Boutique,705 E. SECOND,INDIANOLA,50125,POINT (-93.55261600000001 41.358176),91,Warren,...,15.53,23.30,2,46.60,2.0,0.53,19181.0,July 01 2008,44793.0,POINT (-93.5613594 41.3343735)
26338,S08928800075,11/13/2012,2448,Bottle Boutique,705 E. SECOND,INDIANOLA,50125,POINT (-93.55261600000001 41.358176),91,Warren,...,15.53,23.30,2,46.60,2.0,0.53,19181.0,July 01 1991,36170.0,POINT (-93.5613594 41.3343735)
26339,S08928800075,11/13/2012,2448,Bottle Boutique,705 E. SECOND,INDIANOLA,50125,POINT (-93.55261600000001 41.358176),91,Warren,...,15.53,23.30,2,46.60,2.0,0.53,19181.0,July 01 2002,41282.0,POINT (-93.5613594 41.3343735)