In [52]:
pd.set_option("display.max_rows", 100)

In [14]:
import pandas as pd
import numpy as np

In [15]:
iowa = pd.read_csv("/Users/mdbarshay/Desktop/401/Project 1/iowa-sample.csv")

In [16]:
iowacounties = pd.read_csv("/Users/mdbarshay/Desktop/401/Project 1/County_Population_in_Iowa_by_Year.csv")

In [17]:
iowacounties["County"] = iowacounties["County"].map(lambda x: x.split()[0])

In [18]:
iowa.columns

Index(['Invoice/Item Number', 'Date', 'Store Number', 'Store Name', 'Address',
       'City', 'Zip Code', 'Store Location', 'County Number', 'County',
       'Category', 'Category Name', 'Vendor Number', 'Vendor Name',
       'Item Number', 'Item Description', 'Pack', 'Bottle Volume (ml)',
       'State Bottle Cost', 'State Bottle Retail', 'Bottles Sold',
       'Sale (Dollars)', 'Volume Sold (Liters)', 'Volume Sold (Gallons)'],
      dtype='object')

In [19]:
iowa

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,S08096000008,10/04/2012,4641,Kum & Go #573 / SE 14th DM,5830 SE 14th ST,DES MOINES,50315,NaN,77,Polk,...,89191,Jose Cuervo Especial Reposado Tequila Mini,12,500,11.50,17.25,1,17.25,0.50,0.13
1,S23102300041,12/20/2014,4346,Roy's Foodland,105 PEARL ST,SHELLSBURG,52332,POINT (-91.869285 42.094155),6,Benton,...,11774,Black Velvet,24,375,3.07,4.61,6,27.66,2.25,0.59
2,S14410500035,09/09/2013,3628,Wal-Mart 1528 / Cedar Rapids,2645 BLAIRS FERRY RD NE,CEDAR RAPIDS,52402,POINT (-91.680734 42.034748),57,Linn,...,43410,Captain Morgan Parrot Bay Coconut,12,750,7.49,11.23,12,134.76,9.00,2.38
3,S09427600021,12/12/2012,4708,No Frills Supermarkets #803 / Glenwo,423 SHARP ST,GLENWOOD,51534,POINT (-95.742987 41.04635),65,Mills,...,24458,Kessler Blend Whiskey,6,1750,11.01,16.52,30,495.60,52.50,13.87
4,S28446900114,10/14/2015,2594,Hy-Vee Food Store / Sioux City,4500 SERGEANT ROAD,SIOUX CITY,51106,POINT (-96.346969 42.447396),97,Woodbury,...,10550,Black Velvet Toasted Caramel,12,750,6.75,10.13,12,121.56,9.00,2.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,S15723900021,11/14/2013,3997,Wal-Mart 4606 / Osceola,2400 COLLEGE DR,OSCEOLA,50213,POINT (-93.800214 41.024891000000004),20,Clarke,...,27102,Templeton Rye,6,750,18.09,27.14,6,162.84,4.50,1.19
996,S05143400018,04/19/2012,4483,Sauce,108 E COLLEGE,IOWA CITY,52240,POINT (-91.533522 41.658979),52,Johnson,...,69667,Dr. Mcgillicuddy's Vanilla,12,1000,11.00,16.50,12,198.00,12.00,3.17
997,S28018800016,09/21/2015,3926,Liquor Downtown / Iowa City,315 S GILBERT ST,IOWA CITY,52240,POINT (-91.530181 41.657654),52,Johnson,...,27544,Red Stag By Jim Beam,12,750,10.49,15.74,12,188.88,9.00,2.38
998,S25060300052,04/14/2015,2353,Cresco Liquor Store,708 2ND AVE SE,CRESCO,52136,POINT (-92.106529 43.371131),45,Howard,...,79336,Paramount Creme De Menthe/green,12,750,4.75,7.13,2,14.26,1.50,0.40
999,S08928800075,11/13/2012,2448,Bottle Boutique,705 E. SECOND,INDIANOLA,50125,POINT (-93.55261600000001 41.358176),91,Warren,...,65257,Jagermeister Liqueur,12,1000,15.53,23.30,2,46.60,2.00,0.53

In [20]:
iowacounties["Year"] = iowacounties["Year"].map(lambda x: x.split()[2])

In [21]:
iowacounties["Year"] = iowacounties["Year"].astype("int64")

In [22]:
iowacounties = iowacounties[iowacounties["Year"] == 2018]

In [23]:
iowacounties

       FIPS      County  Year  Population                   Primary Point
8     19101   Jefferson  2018       18381  POINT (-91.9488774 41.0317596)
41    19013       Black  2018      132408  POINT (-92.3088197 42.4700957)
64    19031       Cedar  2018       18627  POINT (-91.1324125 41.7723207)
130   19073      Greene  2018        8981  POINT (-94.3968356 42.0362394)
138   19009     Audubon  2018        5506  POINT (-94.9058222 41.6845893)
...     ...         ...   ...         ...                             ...
2715  19151  Pocahontas  2018        6740  POINT (-94.6787466 42.7341351)
2752  19185       Wayne  2018        6401  POINT (-93.3273639 40.7394702)
2819  19189   Winnebago  2018       10518  POINT (-93.7341955 43.3775678)
2820  19121     Madison  2018       16249  POINT (-94.0155619 41.3307142)
2841  19125      Marion  2018       33407  POINT (-93.0994367 41.3344515)

[99 rows x 5 columns]

In [39]:
tot_iowa = pd.merge(iowa, iowacounties, on = "County", how = "left")

In [25]:
iowa.columns

Index(['Invoice/Item Number', 'Date', 'Store Number', 'Store Name', 'Address',
       'City', 'Zip Code', 'Store Location', 'County Number', 'County',
       'Category', 'Category Name', 'Vendor Number', 'Vendor Name',
       'Item Number', 'Item Description', 'Pack', 'Bottle Volume (ml)',
       'State Bottle Cost', 'State Bottle Retail', 'Bottles Sold',
       'Sale (Dollars)', 'Volume Sold (Liters)', 'Volume Sold (Gallons)'],
      dtype='object')

In [40]:
tot_iowa["Gallons Sold Per Capita"] = tot_iowa["Volume Sold (Gallons)"] / tot_iowa["Pop"]

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),FIPS,Year,Population,Primary Point
0,S08096000008,10/04/2012,4641,Kum & Go #573 / SE 14th DM,5830 SE 14th ST,DES MOINES,50315,NaN,77,Polk,...,11.50,17.25,1,17.25,0.50,0.13,19153.0,2018.0,487204.0,POINT (-93.5735335 41.6855048)
1,S23102300041,12/20/2014,4346,Roy's Foodland,105 PEARL ST,SHELLSBURG,52332,POINT (-91.869285 42.094155),6,Benton,...,3.07,4.61,6,27.66,2.25,0.59,19011.0,2018.0,25642.0,POINT (-92.0656912 42.0801864)
2,S14410500035,09/09/2013,3628,Wal-Mart 1528 / Cedar Rapids,2645 BLAIRS FERRY RD NE,CEDAR RAPIDS,52402,POINT (-91.680734 42.034748),57,Linn,...,7.49,11.23,12,134.76,9.00,2.38,19113.0,2018.0,225909.0,POINT (-91.5989646 42.0789478)
3,S09427600021,12/12/2012,4708,No Frills Supermarkets #803 / Glenwo,423 SHARP ST,GLENWOOD,51534,POINT (-95.742987 41.04635),65,Mills,...,11.01,16.52,30,495.60,52.50,13.87,19129.0,2018.0,15063.0,POINT (-95.6213267 41.0334523)
4,S28446900114,10/14/2015,2594,Hy-Vee Food Store / Sioux City,4500 SERGEANT ROAD,SIOUX CITY,51106,POINT (-96.346969 42.447396),97,Woodbury,...,6.75,10.13,12,121.56,9.00,2.38,19193.0,2018.0,102539.0,POINT (-96.0447673 42.3897169)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,S15723900021,11/14/2013,3997,Wal-Mart 4606 / Osceola,2400 COLLEGE DR,OSCEOLA,50213,POINT (-93.800214 41.024891000000004),20,Clarke,...,18.09,27.14,6,162.84,4.50,1.19,19039.0,2018.0,9423.0,POINT (-93.7851579 41.0290323)
996,S05143400018,04/19/2012,4483,Sauce,108 E COLLEGE,IOWA CITY,52240,POINT (-91.533522 41.658979),52,Johnson,...,11.00,16.50,12,198.00,12.00,3.17,19103.0,2018.0,151260.0,POINT (-91.5880849 41.6715511)
997,S28018800016,09/21/2015,3926,Liquor Downtown / Iowa City,315 S GILBERT ST,IOWA CITY,52240,POINT (-91.530181 41.657654),52,Johnson,...,10.49,15.74,12,188.88,9.00,2.38,19103.0,2018.0,151260.0,POINT (-91.5880849 41.6715511)
998,S25060300052,04/14/2015,2353,Cresco Liquor Store,708 2ND AVE SE,CRESCO,52136,POINT (-92.106529 43.371131),45,Howard,...,4.75,7.13,2,14.26,1.50,0.40,19089.0,2018.0,9187.0,POINT (-92.3171989 43.3567673)
999,S08928800075,11/13/2012,2448,Bottle Boutique,705 E. SECOND,INDIANOLA,50125,POINT (-93.55261600000001 41.358176),91,Warren,...,15.53,23.30,2,46.60,2.00,0.53,19181.0,2018.0,51056.0,POINT (-93.5613594 41.3343735)

In [37]:
grouped_iowa = tot_iowa.groupby(["Date", "Zip Code"]).sum()

In [59]:
idx = pd.IndexSlice

In [62]:
grouped_iowa

                     Store Number  County Number  Category  Vendor Number  \
Date       Zip Code
01/02/2014 52240             4481             52   1031100            434
01/03/2012 51501             4309             78   1031080            461
01/03/2013 50314             2190             77   1051010            115
           52778             4348             70   1031200            380
01/05/2015 50126             4284             42   1012100            115
...                           ...            ...       ...            ...
12/30/2014 50315             4889             77   1032080            115
           52732             4686             23   1031200            380
12/31/2012 51501             4742             78   1032200            370
           52003             2465             31   1012100            115
12/31/2013 50316             4057             77   1081370             65

                     Item Number  Pack  Bottle Volume (ml)  State Bottle Cost  \
Date       Zip Code
01/02/2014 52240           36301    12                 500               3.73
01/03/2012 51501           37987    12                1000              12.34
01/03/2013 50314           53216    12                 750               6.29
           52778           41783     6                 500               4.88
01/05/2015 50126           11788     6                1750              10.45
...                          ...   ...                 ...                ...
12/30/2014 50315           34820    12                 750               8.25
           52732           41601    12                 375               3.45
12/31/2012 51501           34036    12                 750              11.00
           52003           10550    12                 750               6.75
12/31/2013 50316           82866    12                 750               6.30

                     State Bottle Retail  Bottles Sold  Sale (Dollars)  \
Date       Zip Code
01/02/2014 52240                    5.59             1            5.59
01/03/2012 51501                   18.52            24          444.48
01/03/2013 50314                    9.44            12          113.28
           52778                    7.32             2           14.64
01/05/2015 50126                   15.68            36          564.48
...                                  ...           ...             ...
12/30/2014 50315                   12.38             1           12.38
           52732                    5.18             4           20.72
12/31/2012 51501                   16.49             2           32.98
           52003                   10.13             2           20.26
12/31/2013 50316                    9.45             2           18.90

                     Volume Sold (Liters)  Volume Sold (Gallons)     FIPS  \
Date       Zip Code
01/02/2014 52240                     0.50                   0.13  19103.0
01/03/2012 51501                    24.00                   6.34  19155.0
01/03/2013 50314                     9.00                   2.38  19153.0
           52778                     1.00                   0.26  19139.0
01/05/2015 50126                    63.00                  16.64  19083.0
...                                   ...                    ...      ...
12/30/2014 50315                     0.75                   0.20  19153.0
           52732                     1.50                   0.40  19045.0
12/31/2012 51501                     1.50                   0.40  19155.0
           52003                     1.50                   0.40  19061.0
12/31/2013 50316                     1.50                   0.40  19153.0

                       Year  Population
Date       Zip Code
01/02/2014 52240     2018.0    151260.0
01/03/2012 51501     2018.0     93533.0
01/03/2013 50314     2018.0    487204.0
           52778     2018.0     42929.0
01/05/2015 50126     2018.0     16868.0
...                     ...         ...
12/30/2014 50315     2018.0    487204.0
           52732     2018.0     46518.0
12/31/2012 51501     2018.0     93533.0
           52003     2018.0     96854.0
12/31/2013 50316     2018.0    487204.0

[981 rows x 16 columns]

In [63]:
grouped_iowa.xs(52240, level = "Zip Code")

,Store Number,County Number,Category,Vendor Number,Item Number,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),FIPS,Year,Population
Date,,,,,,,,,,,,,,,,
01/02/2014,4481,52,1031100,434,36301,12,500,3.73,5.59,1,5.59,0.50,0.13,19103.0,2018.0,151260.0
01/12/2012,2512,52,1022100,434,89387,12,1000,6.67,10.00,84,840.00,84.00,22.19,19103.0,2018.0,151260.0
01/24/2013,3926,52,1011100,434,24158,6,1750,7.38,11.07,6,66.42,10.50,2.77,19103.0,2018.0,151260.0
01/26/2012,3926,52,1062200,434,45248,6,1750,7.58,11.37,6,68.22,10.50,2.77,19103.0,2018.0,151260.0
02/06/2012,4483,52,1081200,330,80457,12,1000,7.22,10.83,12,129.96,12.00,3.17,19103.0,2018.0,151260.0
02/27/2014,4481,52,1011400,85,26906,6,750,26.59,39.89,2,79.78,1.50,0.40,19103.0,2018.0,151260.0
03/11/2015,2512,52,1012200,35,4867,12,1000,16.87,25.31,6,151.86,6.00,1.59,19103.0,2018.0,151260.0
04/18/2013,4481,52,1011100,260,25601,12,500,6.17,9.25,1,9.25,0.50,0.13,19103.0,2018.0,151260.0
04/19/2012,4483,52,1081390,421,69667,12,1000,11.00,16.50,12,198.00,12.00,3.17,19103.0,2018.0,151260.0
05/08/2014,4844,52,1062310,260,43334,24,375,5.00,7.50,3,22.50,1.12,0.30,19103.0,2018.0,151260.0
05/23/2013,2512,52,1062310,260,1799,6,1750,17.75,26.62,6,159.72,10.50,2.77,19103.0,2018.0,151260.0
07/09/2012,2285,52,1062310,260,43336,12,750,8.25,12.49,12,149.88,9.00,2.38,19103.0,2018.0,151260.0
07/16/2012,2285,52,1042100,35,28236,12,750,12.63,19.45,12,233.40,9.00,2.38,19103.0,2018.0,151260.0
07/30/2012,2622,52,1031080,301,38176,12,750,9.64,14.46,12,173.52,9.00,2.38,19103.0,2018.0,151260.0
08/01/2013,2622,52,1062300,65,44419,12,750,6.82,10.24,3,30.72,2.25,0.59,19103.0,2018.0,151260.0
08/14/2014,3926,52,1062310,259,43024,24,375,2.74,4.11,3,12.33,1.12,0.30,19103.0,2018.0,151260.0
08/31/2012,2285,52,1031080,434,36308,6,1750,7.13,10.70,48,513.60,84.00,22.19,19103.0,2018.0,151260.0
09/02/2015,2622,52,1041100,65,30238,6,1750,10.49,15.74,6,94.44,10.50,2.77,19103.0,2018.0,151260.0
09/04/2013,4481,52,1012100,260,10836,12,750,17.00,25.49,3,76.47,2.25,0.59,19103.0,2018.0,151260.0
09/08/2014,2512,52,1041100,370,32233,48,200,1.99,2.99,48,143.52,9.60,2.54,19103.0,2018.0,151260.0
09/16/2015,3926,52,1062300,35,43197,12,750,8.26,12.39,12,148.68,9.00,2.38,19103.0,2018.0,151260.0
09/21/2015,3926,52,1011200,65,27544,12,750,10.49,15.74,12,188.88,9.00,2.38,19103.0,2018.0,151260.0
10/25/2012,3896,52,1011100,297,23826,12,750,3.35,5.02,7,35.14,5.25,1.39,19103.0,2018.0,151260.0
10/28/2015,2285,52,1011200,260,17087,12,1000,19.99,29.99,12,359.88,12.00,3.17,19103.0,2018.0,151260.0
11/15/2012,3926,52,1031080,434,36308,6,1750,7.13,10.70,30,321.00,52.50,13.87,19103.0,2018.0,151260.0
12/03/2014,4836,52,1062310,260,43336,12,750,9.00,13.50,12,162.00,9.00,2.38,19103.0,2018.0,151260.0
12/16/2013,2512,52,1062200,125,46112,6,750,17.50,26.25,6,157.50,4.50,1.19,19103.0,2018.0,151260.0
12/19/2013,3926,52,1062310,260,43338,6,1750,17.75,26.62,12,319.44,21.00,5.55,19103.0,2018.0,151260.0

In [41]:
pd.multiindex

IndexError: single positional indexer is out-of-bounds

In [87]:
iowa["Date"] = iowa["Date"].astype("datetime64")

In [88]:
grouped_iowa = iowa.groupby(["Date", "County"]).sum()

In [89]:
grouped_iowa.sort_values(by = ["Date", "Zip Code"], inplace = True)

In [93]:
grouped_iowa

                          Store Number  Zip Code  County Number  Category  \
Date       County
2012-01-03 Pottawattamie          4309     51501             78   1031080
2012-01-09 Black Hawk             6315    101404             14   2083090
2012-01-10 Pottawattamie          4312     51501             78   1012200
2012-01-12 Dallas                 4399     50263             25   1011200
           Johnson                2512     52240             52   1022100
...                                ...       ...            ...       ...
2015-11-30 Polk                   2190     50314             77   1052010
           Jackson                3612     52060             49   1031080
           Johnson                4126     52333             52   1031080
           Muscatine              2573     52761             70   1062200
2016-07-12 Sioux                  4255     51041             84   1071100

                          Vendor Number  Item Number  Pack  \
Date       County
2012-01-03 Pottawattamie            461        37987    12
2012-01-09 Black Hawk               680        85522    30
2012-01-10 Pottawattamie            370         4717    12
2012-01-12 Dallas                    65        19061    12
           Johnson                  434        89387    12
...                                 ...          ...   ...
2015-11-30 Polk                     420        48108     6
           Jackson                  297        35914    24
           Johnson                  380        37348     6
           Muscatine                 35        43037    12
2016-07-12 Sioux                     55        57129     6

                          Bottle Volume (ml)  State Bottle Cost  \
Date       County
2012-01-03 Pottawattamie                1000              12.34
2012-01-09 Black Hawk                   2125              16.87
2012-01-10 Pottawattamie                1000              24.47
2012-01-12 Dallas                        500               6.83
           Johnson                      1000               6.67
...                                      ...                ...
2015-11-30 Polk                         1750              42.99
           Jackson                       375               1.93
           Johnson                      1750               7.60
           Muscatine                    1000               9.50
2016-07-12 Sioux                        1750               6.00

                          State Bottle Retail  Bottles Sold  Sale (Dollars)  \
Date       County
2012-01-03 Pottawattamie                18.52            24          444.48
2012-01-09 Black Hawk                   25.32             9          114.18
2012-01-10 Pottawattamie                36.71             1           36.71
2012-01-12 Dallas                       10.24             1           10.24
           Johnson                      10.00            84          840.00
...                                       ...           ...             ...
2015-11-30 Polk                         64.49             6          386.94
           Jackson                       2.90            24           69.60
           Johnson                      11.40             6           68.40
           Muscatine                    14.25            12          171.00
2016-07-12 Sioux                         9.25             6           55.50

                          Volume Sold (Liters)  Volume Sold (Gallons)
Date       County
2012-01-03 Pottawattamie                 24.00                   6.34
2012-01-09 Black Hawk                    11.62                   3.07
2012-01-10 Pottawattamie                  1.00                   0.26
2012-01-12 Dallas                         0.50                   0.13
           Johnson                       84.00                  22.19
...                                        ...                    ...
2015-11-30 Polk                          10.50                   2.77
           Jackson                        9.00                   2.38
           Johnson                       10.50                   2.77
           Muscatine                     12.00                   3.17
2016-07-12 Sioux                         10.50                   2.77

[945 rows x 14 columns]

In [96]:
tot_iowa = pd.merge(grouped_iowa, iowacounties, on = "County", left_index = True, how = "left")

In [97]:
tot_iowa

,County,Store Number,Zip Code,County Number,Category,Vendor Number,Item Number,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),FIPS,Year,Population,Primary Point
1445,Pottawattamie,4309,51501,78,1031080,461,37987,12,1000,12.34,18.52,24,444.48,24.00,6.34,19155.0,2018.0,93533.0,POINT (-95.5423935 41.3366123)
2841,Black Hawk,6315,101404,14,2083090,680,85522,30,2125,16.87,25.32,9,114.18,11.62,3.07,NaN,NaN,NaN,NaN
1445,Pottawattamie,4312,51501,78,1012200,370,4717,12,1000,24.47,36.71,1,36.71,1.00,0.26,19155.0,2018.0,93533.0,POINT (-95.5423935 41.3366123)
2435,Dallas,4399,50263,25,1011200,65,19061,12,500,6.83,10.24,1,10.24,0.50,0.13,19049.0,2018.0,90180.0,POINT (-94.0397374 41.6848862)
2388,Johnson,2512,52240,52,1022100,434,89387,12,1000,6.67,10.00,84,840.00,84.00,22.19,19103.0,2018.0,151260.0,POINT (-91.5880849 41.6715511)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2227,Polk,2190,50314,77,1052010,420,48108,6,1750,42.99,64.49,6,386.94,10.50,2.77,19153.0,2018.0,487204.0,POINT (-93.5735335 41.6855048)
897,Jackson,3612,52060,49,1031080,297,35914,24,375,1.93,2.90,24,69.60,9.00,2.38,19097.0,2018.0,19432.0,POINT (-90.5742294 42.1717426)
2388,Johnson,4126,52333,52,1031080,380,37348,6,1750,7.60,11.40,6,68.40,10.50,2.77,19103.0,2018.0,151260.0,POINT (-91.5880849 41.6715511)
1003,Muscatine,2573,52761,70,1062200,35,43037,12,1000,9.50,14.25,12,171.00,12.00,3.17,19139.0,2018.0,42929.0,POINT (-91.1127562 41.4839221)
2366,Sioux,4255,51041,84,1071100,55,57129,6,1750,6.00,9.25,6,55.50,10.50,2.77,19167.0,2018.0,34909.0,POINT (-96.1778827 43.0826174)